// colors
$black: #000;
$black_light:#1a1a1a;
$white: #fff;
$yellow: #ff0;
$red: #ce0d24;
$blue: #4e6ef2;
$ocean:#21AAE1;
$gray:#999999;
$maroon: #800604;
$green:#03dac5;
$pink:#E94F69;
$border_gray:#434343;


